svg{
			transform-origin: 0 0;
		}

		body,h1,p,h2{
			margin-top: 0px;
			padding: 0px;
		}

		.map{
			margin-left: 5vw;
			width: 55%;
			height: 55%;
		}

		.map__ground{
			fill: #d7d7dc;
		}

		.map__outline{
			fill: #a6a3a8;
			transition: fill 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}

		.map__lake{
			fill: #a2bbdd;
		}

		.map__tree{
			fill: #7bad7f;
		}

		.map__space{
			fill: #bdbdbd;
			transition: all 1s ease-out;
			transition-delay: 1.5s;
		}

		.map{
			cursor: pointer;
			position: relative;
			left: 4%;
			z-index: 4;
			margin-top: 16vw;
			transform: rotate3d(2,1,1.3,284deg);
		}

		.map--4{
			left: 2%;
			position: absolute;
		}

		.map--3{
			z-index: 3;
			top: 12%;
			left: 3%;
			position: absolute;
		}

		.map--1{
			z-index: 2;
			top:22%;
			left: 4%;
			cursor:pointer;
			position: absolute;
		}

		.map--2{
			top: 32%;
			position: absolute;
			z-index: 1;
			left: 4%;
		}

		.map:hover  .map__outline{
			fill: #34495e;
		}

		.surroundings{
			width: 60vw;
			position: relative;
			margin-top: 13vw;
			margin-left: 3vw; 
			opacity: .5;
			transform: rotate3d(2,1,1.3,284deg);
			z-index: -4;
		}

		.rotation{
			cursor: default;
		}

		ul,h1{
			margin: 0px;
			padding: 0px;
		}

		.sidebar{
			width: 0%;
			float: right;
			font-family: 'Lato', sans-serif;
			height:48vw;
			margin-top: 0px;
			padding: 0px;
			overflow: auto;
			transition: width 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			background-color: #fff;
		}

		.sidebar h1{
			text-align: center;
			border-bottom:   #34495e solid .3vw;
			text-transform: uppercase;
			color: #fff;
			opacity: none;
			font-weight: 100;
			padding: .5vw;
		}

		.side{
			width: 26%;
		}

		.side h1{
			opacity: 1;
		}

		.floor1{
			background-color: #f39c12;
		}


		.floor2{
			background-color:#d35400;
		}

		.floor3{
			background-color: #27ae60;
		}

		.floor4{
			background-color: #3498db;
		}

		li{
			font-weight: 400;
			font-size: 1.5vw;
			list-style: none;
			display: block;
			color: #666055;
			text-align: left;
			padding: .55vw;
			padding-left: 2.5vw;
			transition: ease-out 1s;
			background-color: #fff;
		}

		li:hover{
			background-color: #E8E9EB;
		}

		body{
			overflow-y: hidden;
		}

		.abc{
			float: left;
			margin-top: 1vw;
		}

		#a,#b,#c{
			transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
		}

		.a{
			transform-origin: 25px 4px;
		    transform: rotateZ(45deg) translateX(13px) translateY(10px);
		    width: 50px;
		    fill: #d35400;
		}

		.b{
			opacity: 0;
			transition: all 1s;
		}

		.c{
			transform-origin: 25px 28px;
		    transform: rotateZ(-45deg) translateY(-3px) translateX(7px);
		    width: 50px;
		    fill:#d35400;
		}

		.description{
			overflow: hidden;
			width: 30%;
			transition: width 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			font-family: 'Lato', sans-serif;
			text-align: center;
			float: right;
		}

		.description h1{
			margin-top: 10vw;
			font-size: 4vw;
			line-height: 1;
			color: #d35400;
			font-weight: 400;
			margin-bottom: 1vw;
		}

		#timing{
			color: #27ae60;
			font-weight: 300;
			font-size: 1.8vw;
			margin-bottom: 2vw;
		}

		#para{
			font-weight: 400;
			font-size: 1.6vw;
			font-family: 'Source Sans Pro', sans-serif;
			margin-top: 2vw;
		}

		#contact{
			font-weight: 300;
			color: #3498db;
			font-size: 2.2vw;
		}

		#offers{
			margin-top: 2vw;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 2.2vw;
			margin-bottom: 1vw;
			font-weight: 100;
		}

		.offer{
			border-left: #34495e solid .3vw;
			background-color: #ecf0f1;
		}

		.desc{
			opacity: 0;
			transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}

		.desc1{
			opacity: 1;
			transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}